MYSQL_ROOT_PASSWORD=change-me
KEYCLOAK_ADMIN_PASSWORD=change-me
KC_DB_PASSWORD=change-me
PANEL_WEB_CLIENT_SECRET=change-me
PANEL_ADMIN_CLIENT_SECRET=change-me
PANEL_DB_PASSWORD=change-me
PANEL_APP_SECRET=change-me
PANEL_SESSION_SECRET=change-me
